body {
	background-color: black;
	color: white;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
	text-align: center;
	margin: 0 150px;
}

.mainHeading {
	font-size: 42px;
	text-decoration: underline;
}

.canvas {
	border: 1px solid red;
	font-size: 28px;
	padding: 15px 0;
	border-radius: 8px;
}

a:link,
a:visited {
	color: blue;
}

a:hover {
	color: rgb(9, 255, 0);
}

button {
	height: 50px;
	width: 200px;
	font-size: 28px;
	border-radius: 8px;
	margin-top: 15px;
}

button:hover {
	background-color: grey;
	color: black;
}

dialog {
	border-radius: 8px;
	padding: 15px 15px;
	border: 2.5px solid blue;
}

form {
	font-size: 28px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: center;
}

#player1,
#player2 {
	width: 150px;
	height: 40px;
	border-radius: 8px;
}

.errorMessage {
	text-align: right;
	color: red;
	font-size: 14px;
}

.row {
	display: flex;
	flex-direction: row;
	gap: 5px;
	justify-content: center;
	align-items: center;
}

.cell {
	border: 1px solid white;
	width: 50px;
	height: 50px;
	margin-bottom: 5px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.playerBoard1 > .row,
.playerBoard2 > .row {
	font-size: 25px;
	color: white;
}

.playerBoard1,
.playerBoard2 {
	font-size: 50px;
	margin-bottom: 10px;
}

.mainContainer {
	display: flex;
	gap: 100px;
	justify-content: center;
}
